@charset "UTF-8";

body{
    background-image: url('imagem/wallpaper002.jpg');
}

div.quadrado{
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 200px;
    height: 200px;
    display: inline-block;
}

div.quadrado:hover{
    background-color: rgba(255, 255, 0, 0.495);
}

div#q1{
    background-color: skyblue;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

div#q3{
    background-image: url('imagem/wallpaper001.jpg');
}